.matchRow {
  border: 1px solid black;
  padding: 2rem 2rem 2rem 2rem
}

.teamLogo {
    width:50px;
    height:50px;
    vertical-align: middle;
  }

.teamNameHome, .teamNameAway {
  color:white;
}

@media screen and (max-width: 641px) {
  .teamNameHome, .teamNameAway {
    font-size: 1rem;
  }
}

.formHeaderLeft, .formHeaderRight {
  height: 100%;
  margin: 0rem;
  border: 0px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHeaderLeft {
  float:left;
  width:30%;
}

.formHeaderRight {
  float:right;
  width:70%;
}

.bgimage {
  width: 100%;
  height: 100%;
}

.gspLogo {
  max-width:70px;
  height:auto;
}

.predictorList {
  height: 50%;
  margin: 0rem;
  border: 0px solid black;
}

@media screen and (max-width: 641px) {
  .bgimage {
    display: none;
  }
}

.alignementHome {
  text-align: right;
}

.alignementAway {
  text-align: left;
}

.teamNameHome {
  margin: 0rem 0rem 0rem 1rem;
}

.teamNameAway {
  margin: 0rem 1rem 0rem 0rem;
}

.score {
  background-color: #0a223c;
  border: 2px solid black;
  color: white;
  max-width: 2rem;
}

.scoreSeparator {
  color:white;
}

.statusMessage {
  border: 0px solid black;
  text-align:center;
  background:rgba(10, 34, 60, 0.5);
  margin: 0rem 0rem 2px 10px;
  color:white;
}