@page "/counter"
@namespace counter

@inject IJSRuntime JS
@inject IEmailSender emailSender
@inject IMatchReader matchReader
@inject IPrediction prediction

@using Microsoft.JSInterop;

<div translate=no style="position: relative;">
<img class="bgimage" src="bg\bg7.jpg">

<table padding="5px" style="margin:0rem 0rem 0rem 0px; position: absolute; top:0%">
  <table id="tableToPrint" style="margin:0rem 0rem 0rem 0px;background-color: #0a223c;">
  <tr>
    <td colspan="5" style="text-align:center; height:80px;border: 0px solid black; padding-top: 15px;">
      <div class="formHeaderLeft">
        <img class="gspLogo" src="TeamsLogos\GSPLogoYellow.png">      
      </div>
      <div class="formHeaderRight">
        <div class="predictorList">
          <select @bind="PredictorName" style="background-color: #0a223c; text-align:center;border:2px solid black; color: white;">
            <option value="" selected="selected" hidden="hidden">Επιλέξτε Username</option>
            @foreach(var predictor in listOfPredictors)
            {
              @if(@HasPredictorPlayed(@predictor))
              {
                <option value="@predictor" style="color: grey">
                  @predictor @GetBettingStatus(@predictor)
                </option>
              }
              else
              {
                <option value="@predictor">@predictor</option>
              }            
            }
          </select>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="5" style="text-align:center; height:45px">
        <label style="font-size: 1.25em;color:white; margin:0rem 0rem 0rem 0rem" for="fname">Αγωνιστική @matchWeek.matchWeekNumber</label>
    </td>
  </tr>

@* Start of games loop: The following loop is used for the normal, non-playoff period.*@
<tr><td>
    @foreach(var game in matchWeek.games)
    {
      <tr class="matchRow" height="70px">
        <td nowrap class="" style="text-align:right">
          <label class="teamNameHome alignementHome">@GetGreekName(@game.Team1)</label>
          <img class="teamLogo" src=@GetTeamLogo(@game.Team1)>
        </td>
        <td><input @oninput="@((ChangeEventArgs scoreEvent) => OnScoreUpdated(@game.Team1,scoreEvent))" class="score alignementHome" maxlength="1" size="1" type="text" inputmode="numeric"></td>
        <td><label class="scoreSeparator" for="lname"> - </label></td>
        <td><input @oninput="@((ChangeEventArgs scoreEvent) => OnScoreUpdated(@game.Team2,scoreEvent))" class="score alignementAway" maxlength="1" size="1" type="text" inputmode="numeric"></td>
        <td nowrap>
          <img class="teamLogo" src=@GetTeamLogo(@game.Team2)>
          <label class="teamNameAway alignementAway">@GetGreekName(@game.Team2)</label>
        </td>
      </tr>
    }

@* End of games loop.*@


@* Start of playoff loop: This is only used for the playoff/out period.*@
@*
<tr><td>
    @foreach(var game in playOffGames)
    {
      <tr class="matchRow" height="70px">
        <td nowrap class=""style="text-align:right">
          <label class="teamNameHome alignementHome">@GetGreekName(@game.Team1)</label>
          <img class="teamLogo" src=@GetTeamLogo(@game.Team1)>
        </td>
        <td><input @oninput="@((ChangeEventArgs scoreEvent) => OnScoreUpdated(@game.Team1,scoreEvent))" class="score alignementHome" maxlength="1" size="1" type="text" inputmode="numeric"></td>
        <td><label class="scoreSeparator" for="lname"> - </label></td>
        <td><input @oninput="@((ChangeEventArgs scoreEvent) => OnScoreUpdated(@game.Team2,scoreEvent))" class="score alignementAway" maxlength="1" size="1" type="text" inputmode="numeric"></td>
        <td nowrap>
          <img class="teamLogo" src=@GetTeamLogo(@game.Team2)>
          <label class="teamNameAway alignementAway">@GetGreekName(@game.Team2)</label>
        </td>
      </tr>
    }
*@
@* End of playoff loop.*@

@* Start of playout loop: This is only used for the playoff/out period. *@
@*
  <tr>
    <td colspan="5" style="text-align:center; height:45px">
        <label style="font-size: 1.25em;color:white; margin:0rem 0rem 0rem 0rem" for="fname"> Αγωνιστική 7η playout</label>
    </td>
  </tr>


    @foreach(var game in playOutGames)
    {
      <tr class="matchRow" height="70px">
        <td nowrap class=""style="text-align:right">
          <label class="teamNameHome alignementHome">@GetGreekName(@game.Team1)</label>
          <img class="teamLogo" src=@GetTeamLogo(@game.Team1)>
        </td>
        <td><input @oninput="@((ChangeEventArgs scoreEvent) => OnScoreUpdated(@game.Team1,scoreEvent))" class="score alignementHome" maxlength="1" size="1" type="text" inputmode="numeric"></td>
        <td><label class="scoreSeparator" for="lname"> - </label></td>
        <td><input @oninput="@((ChangeEventArgs scoreEvent) => OnScoreUpdated(@game.Team2,scoreEvent))" class="score alignementAway" maxlength="1" size="1" type="text" inputmode="numeric"></td>
        <td nowrap>
          <img class="teamLogo" src=@GetTeamLogo(@game.Team2)>
          <label class="teamNameAway alignementAway">@GetGreekName(@game.Team2)</label>
        </td>
      </tr>
    }
*@
@* End of the playout loop. *@

  <tr>
      <td colspan="5" style="font-size: 0.80em;color:white;text-align:center; height:50px"><i>G</i>reek <i>S</i>uperleague <i>P</i>rediction game</td>
  </tr>
  </td></tr>
</table>
<table>
    <tr>
      <td colspan="5" style="height:50px">
        <button hidden="@ShouldHideSendButton()" id="sendButton" class="btn btn-primary" @onclick="OnSendButtonPressed" style="background-color: #0a223c; border-radius:4px; border: 2px solid white; text-align:center;color:white;margin: 0rem 0rem 2px 10px" for="lname">
        Αποστολή</button>
      </td>
      <td colspan="5" style="height:50px">
      <label hidden="@ShouldHideErrorMessage()" class="btn btn-primary statusMessage">@GetTextOfSubmissionResult()</label>
      <img hidden="@IsSendingNotInProgess()" class="btn btn-primary" style="width:100px; height: 100px; background-color: transparent; border: 0px solid white; text-align:center;color:white;margin: 0rem 0rem 2px 100px"
        src="TeamsLogos\movingBall.webp">
      </td>
  </tr>
  <tr>
    <td colspan="5" style="height:50px">
      <button hidden="@ShouldHideShowMeMyLuck()" class="btn btn-primary" @onclick="ToggleGifVisibility" style="background-color: #0a223c; border-radius:4px; border: 2px solid white; text-align:center;color:white;margin: 0rem 0rem 2px 10px" for="lname">
        Δείξε μου την τύχη μου</button>
    </td>
  </tr>
</table>

<table style="margin:0rem 0rem 0rem 0px; position: absolute; top:20%;">
  <tr><td>
    <img hidden="@shouldShowGif" style="margin:0rem 0rem 0rem 0px;padding:0px;" src=@GetRandomGif()>
    </td></tr>
</table>

<table>
    <tr><td colspan="5" style="height:50px">
      <button hidden="@Configuration.IsProduction()" class="btn btn-primary" style="background-color: #0a223c; border-radius:4px; border: 2px solid white; text-align:center;color:white;margin: 0rem 0rem 2px 10px" for="lname">
        Test environment on</button>
    </td></tr>
</table>

</table>
</div>

@code
{
    private GifGenerator gifGenerator;
    private bool shouldShowGif = true;
    FormState formState;

    private List<string> listOfPredictorsWhoPlayed = new List<string>(){};

    private bool HasPredictorPlayed(string predictor)
    {
      return listOfPredictorsWhoPlayed.Contains(predictor) ? true : false;
    }
    private string GetBettingStatus(string predictor)
    {
      return (HasPredictorPlayed(predictor)) ? "- έπαιξε": "";
    }

    private string? predictorName;
    private string? PredictorName
    {
      get => predictorName;
      set
      {
        predictorName = value;
        formState.PredictorSet(predictorName);
        Console.WriteLine($"User {PredictorName} selected.");
      }
    }

    private IMatchWeek matchWeek = new MatchWeek();

    // In non-playoff period remove these variables.
    /*
    private IList<Game> playOffGames= new List<Game>();
    private IList<Game> playOutGames= new List<Game>();
    */
    private IScreenshotCreator screenshotCreator;
    
    private List<string> listOfPredictors = new List<string>();
   
    protected override async Task OnInitializedAsync()
    {
      Console.WriteLine($"{nameof(OnInitializedAsync)}: starting.");
      screenshotCreator = new ScreenshotCreator(JS);
      formState = new FormState();
      gifGenerator = new GifGenerator();
      matchWeek = await matchReader.ReadMatchWeekAsync();
      listOfPredictorsWhoPlayed = Configuration.IsDBEnabled() ?
        await prediction.GetlistOfPredictorsWhoPlayedAsync() :
        new List<string>() {"aapaylos", "amakryg", "antonispara", "aktines"};
      if(Configuration.IsDBEnabled())
      {
        var predictors = await prediction.GetlistOfPredictorsAsync();
        listOfPredictors = predictors.Keys.ToList<String>();
      }    
      else
      {
        listOfPredictors =  new List<string>() { "aapaylos", "alexia", "amakryg", "antonispara", "aktines",
            "basage", "betfisher", "blckfr",
            "con_professor", "cristi_vag_3", 
            "dangor", "dior", "dmx",
            "erejum31", "fcasys", "fotkalou",
            "giagia toure", "jigger", "jimis",
            "kοskis", "kostas7259", "kostzar",
            "lazarakos1980", "lazaros fc", "leon4paok",
            "melaras", "microbio", "nikolaras",
            "ntelias", "nerf13", "prim8p", "pocket",
            "raptopoulos", "rastaman23", "stavrakas", "tennes3",
            "theos aris", "thunder", "thz", "tsakos2012", "twins",
            "vampire", "xsakis"};
      } 
      Console.WriteLine($"{nameof(OnInitializedAsync)}: completed.");
        listOfPredictors.Sort(); 
      // In non-playoff period remove the line below
      //FillInPlayOutAndOffGames();
    }

/*
    void FillInPlayOutAndOffGames()
    {
      IList<string> listOfPlayOutTeams = new List<string>()
      {
        Team.TeamEnum.Panaitolikos.ToString(),
        Team.TeamEnum.Atromitos.ToString(),
        Team.TeamEnum.Ofi.ToString(),
        Team.TeamEnum.Asteras.ToString(),
        Team.TeamEnum.PasGiannina.ToString(),
        Team.TeamEnum.Ionikos.ToString(),
        Team.TeamEnum.Lamia.ToString(),
        Team.TeamEnum.Levadiakos.ToString(),
      };

      foreach(var game in matchWeek.games)
      {
        if(listOfPlayOutTeams.Contains(game.Team1) || listOfPlayOutTeams.Contains(game.Team2))
        {
          playOutGames.Add(game);
        }
        else
        {
          playOffGames.Add(game);
        }
      }

    playOutGames = new List<Game>();
    playOutGames.Clear();
    playOutGames.Add(
      new Game()
        {
          Team1 = Team.TeamEnum.Asteras.ToString(),
          Team2 = Team.TeamEnum.Atromitos.ToString(),
        });

    playOutGames.Add(
      new Game()
        {
          Team1 = Team.TeamEnum.Ionikos.ToString(),
          Team2 = Team.TeamEnum.Lamia.ToString(),
        });

    playOutGames.Add(
      new Game()
        {
          Team1 = Team.TeamEnum.Levadiakos.ToString(),
          Team2 = Team.TeamEnum.PasGiannina.ToString(),
        });

    playOutGames.Add(
      new Game()
        {
          Team1 = Team.TeamEnum.Panaitolikos.ToString(),
          Team2 = Team.TeamEnum.Ofi.ToString(),
        });
    }
    */

    void OnScoreUpdated(string teamName, ChangeEventArgs e)
    {
      var score = e?.Value?.ToString();

      foreach(var game in matchWeek.games)
      {
        if (game.Team1.Equals(teamName))
        {
          game.Score1 = score;
          break;          
        }
        else if (game.Team2.Equals(teamName))
        {
          game.Score2 = score;
          break;          
        }
      }
      var listOfScores = new List<string>();
      foreach (var game in matchWeek.games)
      {
        listOfScores.Add(game.Score1);
        listOfScores.Add(game.Score2);
      }
      formState.ScoresSet(listOfScores);
    }

    private bool ShouldHideSendButton()
    {
      return !formState.ShouldShowSendButton();
    }

    private bool ShouldHideErrorMessage()
    {
      return !formState.ShouldShowMessage();
    }

    private bool ShouldHideShowMeMyLuck()
    {
      return !formState.ShouldShowMeMyLuck();
    }

    private string GetTextOfSubmissionResult()
    {
      return formState.GetMessage();
    }

    private bool IsSendingNotInProgess()
    {
      return !formState.IsSendingInProgess();
    }

    private string GetGreekName(string teamName)
    {
      return Team.GetTeamNameInGreek(Team.GetTeamEnum(teamName));
    }

    private string GetTeamLogo(string teamName)
    {
      return Team.GetTeamLogo(Team.GetTeamEnum(teamName));
    }

    private async Task OnSendButtonPressed()
    {
      try
      {
        Console.WriteLine($"User {PredictorName} attempts to send.");
        formState.SendButtonPressed();
        
        var predictorsEmailAddresses = Configuration.IsDBEnabled() ?
         await prediction.GetlistOfPredictorsAsync():
         new Dictionary<string, string>()
      {
      {"aapaylos", "aapaylos@gmail.com"},
      {"alexia", "alexiamusic@hotmail.gr"},
      {"amakryg", "amakryg8@gmail.com"},
      {"antonispara", "antonispara@outlook.com"},
      {"aktines", "aaristotelis@hotmail.com"},
      {"basage", "bangelou3@gmail.com"},
      {"betfisher", "Leonidassss@yahoo.gr"},
      {"blckfr", "georgia32@gmail.com"},
      {"con_professor", "katsanouliskon@gmail.com"},
      {"cristi_vag_3", "odytas3@gmail.com"},
      {"dangor", "y.kassimatis@gmail.com"},
      {"dior", "orestis.dimakopoulos@gmail.com"},
      {"dmx", "ras_kass_1987@hotmail.com"},
      {"erejum31", "kikikalantzidou@yahoo.gr"},
      {"fcasys", "kalantzidisgeorge@gmail.com"},
      {"fotkalou", "fotkalou@yahoo.com"},
      {"giagia toure", "geoikonomikos@yahoo.gr"},
      {"jigger", "emmanouil76@gmail.com"},
      {"jimis", "Jimakoskaranikos@gmail.com"},
      {"kοskis", "Koskis@windowslive.com"},
      {"kostas7259", "kostasloizidis@gmail.com"},
      {"kostzar", "konstantinos.zaralis@gmail.com"},
      {"lazarakos1980", "lazarostrontsios@gmail.com"},
      {"lazaros fc", "lazarostopouzes@yahoo.com"},
      {"leon4paok", "leonidas_1992@hotmail.com"},
      {"microbio", "Eleniaaidonidou@gmail.com"},
      {"melaras", "mendimop@yahoo.gr"},
      {"ntelias", "pgkougkoustamos@yahoo.com"},
      {"nerf13", "Thanostsatsos@1980gmail.com"},
      {"nikolaras", "demopoulosn15@gmail.com"},
      {"prim8p", "studio_epilogh@yahoo.gr"},
      {"pocket", "fani_ts95@hotmail.com"},
      {"raptopoulos", "lazaros_loumas@yahoo.gr"},
      {"rastaman23", "dtasioud@gmail.com"},
      {"stavrakas", "stavrosgiannopoulos89@gmail.com"},
      {"tennes3", "konstantinosrentifis@gmail.com"},
      {"theos aris", "karras884@gmail.com"},
      {"thunder", "mkalantzidis@gmail.com"},
      {"thz", "thezufko1@hotmail.com"},
      {"tsakos2012", "g.tsakos@hotmail.com"},
      {"twins", "aidongorge@gmail.com"},
      {"vampire", "elparasidou@hotmail.com"},
      {"xsakis", "aloizidi@gmail.com"}
    };

        // Create sreenshot and send email
        await screenshotCreator.CreateScreenshotAsync(PredictorName);
        await emailSender.SendEmailAsync(PredictorName, screenshotCreator.ScreenshotPath, matchWeek.matchWeekNumber, predictorsEmailAddresses);
        
        // finalize
        screenshotCreator.CleanUpFile();
        formState.SentSucceeded();
        listOfPredictorsWhoPlayed.Add(PredictorName);

        // send the prediction to the database
        var predictionDTO = new PredictionDTO
        {
          PredictorUsername = PredictorName,
          GamePredictions = CreateGamePredictions(matchWeek)
        };
        await prediction.SetPredictionAsync(predictionDTO);
        Console.WriteLine($"User {PredictorName} sent succeeded.");
      }
      catch(Exception e)
      {
        Console.WriteLine($"User {PredictorName} sent failed with exception: {e.Message}");
        formState.SentFailed();
      }
    }

    private IList<GamePredictionDTO> CreateGamePredictions(IMatchWeek matchWeek)
    {
      IList<GamePredictionDTO> gamePredictionDTOlist = new List<GamePredictionDTO>();
      foreach(var game in matchWeek.games)
      {
        gamePredictionDTOlist.Add(new GamePredictionDTO(
          game.gameId,
          Int32.Parse(game.Score1),
          Int32.Parse(game.Score2)));
      }
      
      return gamePredictionDTOlist;
    }

    private void ToggleGifVisibility()
    {
      shouldShowGif = !shouldShowGif;
    }

    private string GetRandomGif()
    {
        return gifGenerator.GetRandomGifPath();
    }
}
