@page "/"
@inject NavigationManager NavManager

<h1>Hello, gspites kai gspitises!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    protected override async Task OnInitializedAsync()
    {
        NavManager.NavigateTo("/counter");
        await base.OnInitializedAsync();
    }
}