@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <div class="main">
        <div class="content">
            @Body
        </div>
    </div>
</div>
